PORT=5000
# Add your Supabase Database URL here
# Example: postgresql://postgres:[YOUR-PASSWORD]@db.[YOUR-PROJECT-REF].supabase.co:5432/postgres
DATABASE_URL=postgresql://postgres:Soh@m04010211@db.hjeehxuqemfdwszmadjm.supabase.co:5432/postgres
